{% extends 'header.html' %}
{%  load staticfiles%}
{% load filter %}
{% block content %}
    <style>
        .blog_post{
            color: white;
            text-align: center;
            height: 100px;
            width: 290px;
            margin-bottom: 0px;
            background-color: #2aabd2;
        }

        .blog_post img{
            margin-left: 10px;
            margin-right: 10px;

            -webkit-transform: scale(1);
            transform: scale(1);
            -o-transform: scale(1);
            -moz-transform: scale(1);
            -ms-transform: scale(1);

            -webkit-transition: .3s ease-in-out;
            transition: .3s ease-in-out;

        }

        .blog_post:hover img{

            -webkit-transform: scale(1.1);
            transform: scale(1.1);
            -o-transform: scale(1.1);
            -moz-transform: scale(1.1);
            -ms-transform: scale(1.1);

        }

        .blog_post h4{
            margin-top: 20px;
            -webkit-transform: scale(1);
            transform: scale(1);
            -o-transform: scale(1);
            -moz-transform: scale(1);
            -ms-transform: scale(1);

            -webkit-transition: .3s ease-in-out;
            transition: .3s ease-in-out;

        }

        .blog_post:hover h4{

            -webkit-transform: scale(1.1);
            transform: scale(1.1);
            -o-transform: scale(1.1);
            -moz-transform: scale(1.1);
            -ms-transform: scale(1.1);

        }

        .blog_post{
            -webkit-transform: scale(1);
            transform: scale(1);
            -o-transform: scale(1);
            -moz-transform: scale(1);
            -ms-transform: scale(1);

            -webkit-transition: .3s ease-in-out;
            transition: .3s ease-in-out;

        }

        .blog_post:hover {

            -webkit-transform: scale(1.05);
            transform: scale(1.05);
            -o-transform: scale(1.05);
            -moz-transform: scale(1.05);
            -ms-transform: scale(1.05);

        }

        @-webkit-keyframes padding {
            from {padding-top: 5px}
            to{padding-top: 25px}
        }

        @-moz-keyframes padding {
            from {padding-top: 5px}
            to{padding-top: 25px}
        }

        @-o-keyframes padding {
            from {padding-top: 5px}
            to{padding-top: 25px}
        }


        .hover01 a img {
            -webkit-transform: scale(1);
            transform: scale(1);
            -o-transform: scale(1);
            -moz-transform: scale(1);
            -ms-transform: scale(1);

            -webkit-transition: .3s ease-in-out;
            transition: .3s ease-in-out;
        }
        .hover01 a:hover img {
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
            -o-transform: scale(1.1);
            -moz-transform: scale(1.1);
            -ms-transform: scale(1.1);
        }
    </style>
    <div class="col-md-8">
        <div class="container" style="width: 950px;">
            <div class="topic">
                    <h2>Усі дописи</h2>
{#                    {% if user.is_autheticated %}#}
                        <a type="button" class="btn btn-info btn-lg btn3d" href="{% url 'add_page' %}"><span class="glyphicon glyphicon-pencil"></span>Створити допис</a>
{#                    {% endif %}#}
                    <hr style="color: #31b0d5">
            </div>
                <form action={{ request.get_full_path }}>{% csrf_token %}
                      <div class="col-md-3">
                        <div class="form-group" width = "500">
    {#                    <label for="customer" class="label" ><h2>Search:</h2></label>#}
                            <select  class="turnintodropdown" name="topic_name">
                                    <option value="All">Усі</option>
                                    <option value="Competitions">Змагання</option>
                                    <option value="Lifehacks">Лайфхаки</option>
                                    <option value="Journeys">Подорожі</option>
                                    <option value="Descriptions">Описи</option>
                                    <option value="Technique">Техніка</option>
                                    <option value="Events">Події</option>
                                    <option value="Other">Інше</option>
                            </select>
                        </div>
                      </div>
                <div class="col-md-9">
                    <div id="custom-search-input" style="margin-top: 15px;">
                        <div class="input-group col-md-12">
                            <input type="text" class="form-control input-lg" placeholder="" name="search_str" />
                            <span class="input-group-btn">
                                <button class="btn btn-info btn-lg" type="submit">
                                    <i class="glyphicon glyphicon-search"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                </form>
            {% for blog in blogs %}
                <div class="col-md-4">
                    <div class="blog_post" style="background-color: #31b0d5">
    {#                    <img src="{% static 'Images/icons/vids.png' %}" style="height: 110px; width: 110px; margin-top: 30px">#}
                        <a href="{% url 'blog_post' blog|underscore:'_id' %}"><h4>{{ blog.name }}</h4></a>
{#                        <form>#}
{#                            <a type="submit"><h6>{{ blog.author.login }}</h6></a>#}
{#                        </form>#}
                        <h6><u>{{ blog.author.login }}</u></h6>
                        {% if user.is_superuser %}
                        <a href="/remove/{{ blog|underscore:'_id'}}">
                            <button class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></button>
                        </a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        <div>
                <span class="step-links">
                    <h3>
                        {% if blogs.has_previous %}
                            <a href="?page={{ blogs.previous_page_number }}"><button class="button4">PREVIOUS</button></a>
                        {% endif %}

                        <span class="current">
                            Page <b>{{ blogs.number }}</b> of <b>{{ blogs.paginator.num_pages }}</b>
                        </span>

                        {% if blogs.has_next %}
                            <a href="?page={{ blogs.next_page_number }}"><button class="button4">NEXT</button> </a>
                        {% endif %}
                    </h3>
                </span>
            </div>
        </div>
    </div>
{% endblock %}