{% extends 'header.html' %}
{% block title %}Матеріали - Турклуб "Глобус"{%endblock %}
{%  load staticfiles %}

{% block content %}

    <div class="col-md-8" style="margin-left: 10px;">
        <div class="col-md-3" style="margin-right: 63px;" >
            <div class="cube" style="background-color: #31b0d5">
                <img src="{% static 'Images/icons/vids.png' %}" style="height: 110px; width: 110px; margin-top: 30px">
                <h4>Відео</h4>
            </div>
            <div class="cube" style="background-color: #5bc0de">
                <img src="{% static 'Images/icons/films.png' %}" style="height: 110px; width: 110px; margin-top: 30px">
                <h4>Фільми</h4>
            </div>
        </div>
        <div class="col-md-3" >
            <div class="cube" style="background-color: #5bc0de">
                <img src="{% static 'Images/icons/books.png' %}" style="height: 110px; width: 110px; margin-top: 30px">
                <h4>Книги</h4>
            </div>
            <div class="cube" style="background-color: #31b0d5">
                <img src="{% static 'Images/icons/maps.png' %}" style="height: 110px; width: 110px; margin-top: 30px">
                <h4>Мапи</h4>
            </div>
        </div>
        <div class="col-md-3" style="margin-left: 63px;">
            <div class="cube" style="background-color: #31b0d5">
                <img src="{% static 'Images/icons/info.png' %}" style="height: 110px; width: 110px; margin-top: 30px">
                <h4>Статті, лекції</h4>
            </div>
            <div class="cube" style="background-color: #5bc0de">
                <img src="{% static 'Images/icons/docs.png' %}" style="height: 110px; width: 110px; margin-top: 30px">
                <h4>Звіти</h4>
            </div>
        </div>
        <div class="col-md-2"></div>


    </div>
        </div>
    </div>
    <div class="col-md-2">

    </div>
{% endblock content %}